---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/blog/BlogPost.astro";
const allPosts = await getCollection("posts");
type Post = (typeof allPosts)[0];

const postsByYear = allPosts.reduce(
  (groupedPosts, post) => {
    const year = new Date(post.data.pubDate).getFullYear();
    if (!groupedPosts[year]) groupedPosts[year] = [];
    groupedPosts[year]!.push(post);
    return groupedPosts;
  },
  {} as Record<number, Post[]>,
);

// write a function that will be returning from post month and day from pubDate in format mm/dd
const getMonthAndDay = (date: Date) => {
  const month = new Date(date).getMonth() + 1;
  const day = new Date(date).getDate();
  return `${month}/${day}`;
};
---

<BaseLayout pageTitle="Blog">
  <h1>Blogposts</h1>
  <hr class="m-0" />
  {
    postsByYear &&
      Object.keys(postsByYear)
        .reverse()
        .map((year) => (
          <div class="flex justify-between border-b">
            <h3 class="mt-2">{year}</h3>
            <ul class="mt-1">
              {postsByYear[Number(year)]!.map((post) => (
                <div>
                  <BlogPost
                    url={`/posts/${post.slug}/`}
                    title={post.data.title}
                  />
                  <div>{getMonthAndDay(post.data.pubDate)}</div>
                </div>
              ))}
            </ul>
          </div>
        ))
  }
</BaseLayout>
