---
import type { Project } from "../data/projects";
import Link from "./Link.astro";
interface Props {
  project: Project;
}
const { project } = Astro.props;
---

<li class="pb-6">
  <div class="flex items-center gap-2 pb-2">
    {
      project.liveUrl ? (
        <Link href={project.liveUrl} rel="noopener noreferrer" target="_blank">
          <span class="text-xl">{project.name}</span>
        </Link>
      ) : (
        <span class="text-xl">{project.name}</span>
      )
    }
    <Link href={project.codeUrl} rel="noopener noreferrer" target="_blank">
      <img src="github.svg" alt="Github logo" />
    </Link>
  </div>
  <p class="text-gray-600 text-justify">
    {project.description}
  </p>
</li>
