---
import type { Project } from "./projects";
import ExternalLink from "../../shared/ExternalLink.astro";
interface Props {
  project: Project;
}
const { project } = Astro.props;
---

<div class="pb-2">
  <div class="flex items-center gap-2">
    {
      project.liveUrl ? (
        <ExternalLink href={project.liveUrl}>
          <span class="text-xl">{project.name}</span>
        </ExternalLink>
      ) : (
        <span class="text-xl">{project.name}</span>
      )
    }
    <ExternalLink href={project.codeUrl}>
      <img class="not-prose" src="github.svg" alt="Github logo" />
    </ExternalLink>
  </div>
  <p class="mt-1 text-gray-600">
    {project.description}
  </p>
</div>
