---
import { RECOMMENDATIONS } from "../../data/recommendations";
import Link from "../shared/Link.astro";
---

<section class="pb-12">
  <h2 class="text-2xl text-gray-600 pb-8">Recommendations</h2>
  <div class="flex flex-col gap-12">
    {
      RECOMMENDATIONS.map((recommendation) => {
        const { recommender, recommendationText } = recommendation;
        const { name, title, linkedinProfileUrl, imageSource } = recommender;
        return (
          <div>
            <div class="flex items-center gap-3 pb-4">
              <img
                class="w-16 h-16 border-2 rounded-full border-yellow-200"
                src={imageSource}
                alt={`Portrait of a ${name}`}
              />
              <div class="flex flex-col">
                <Link href={linkedinProfileUrl} rel="noopener noreferrer">
                  <span class="text-xl font-bold">{name}</span>
                </Link>
                <span class="text-gray-600">{title}</span>
              </div>
            </div>
            <p class="text-justify">{recommendationText}</p>
          </div>
        );
      })
    }
  </div>
</section>
